/* header hero section */
/* header */
.headerHeroSection {
    background-color: #1F2937;
    padding: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 10px;
}

.headerLinks {
    display: flex;
    gap: 10px;
    padding: 10px;
}

/* hero */
.hero {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.heroLeft {
    width: 500px;
}

.heroRightImg {
    width: 500px;
}
 
.heroMainText {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.heroSecondaryText {
    font-size: 18px;
    color: #e5e7eb;
}

.headerLinks li { 
    list-style: none;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

#heroButton {
    padding: 10px;
    border: none;
}

/* images section */
.imagesSection {
    padding-bottom: 50px;
}

.infoHeaderText {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.imageDivs {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.imageDiv {
    width: 10%;
}

.imageDiv img {
    width: 100%;
    border-radius: 10px;
    border
}